body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
}
.half {
    flex: 1;
    padding: 30px;
}
#admin-panel {
    display: none;
}



#cat-list{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;

}

form{
    display: flex;
    flex-direction:column;
    gap: 5px;
}

#btn-admin{
    display: flex;
    justify-content: center;
}
